<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Express Forms</title>
</head>
<body>
    <h1 class="text-center mt-10 font-bold text-3xl">Personal Details</h1>
    <form class="mx-auto w-fit" action="/login" method="post">
        <div class="my-4 text-2xl mx-auto">
            <label for="name">Name</label>
            <input class="border-2 px-2 text-base text-gray-800 py-1 focus:outline-none" id='name' name="name" type="text">
        </div>
        <div class="my-4 text-2xl mx-auto">
            <label for="age">Age</label>
            <input class="border-2 ml-5 px-2 text-base text-gray-800 py-1 focus:outline-none" type="number" name="age" id="age">
        </div>   
        <input class="mx-auto active:bg-blue-900 text-white hover:bg-blue-500 text-2xl block border py-1 px-2 bg-blue-400 rounded-md " type="submit" value="Submit">
        <% if (locals.name || locals.age){ %>
            <h1 class="text-center mt-10 text-xl">Your name has
                <%= name.length %>
            letters</h1>
        <% } %>
    </form>
</body>
</html>